* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-dark {
  background-color: #343a40;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.form-inline {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group-prepend {
  margin-right: -1px;
}
.input-group-append,
.input-group-prepend {
  display: flex;
}
.form-control {
  display: block !important;
  width: 100% !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.button,
input {
  overflow: visible;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1% !important;
  min-width: 0;
  margin-bottom: 0;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  cursor: pointer !important;
  margin: 5px;
  box-shadow: 0 10px 6px -6px #9f9f9f;
}

.pt-3 {
  padding-top: 1rem !important;
}

.container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.wordWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.container-modal {
  /* min-width: 500px; */
  max-width: 665px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-modal {
  margin-right: -15px;
  margin-left: -15px;
}
.p-3 {
  padding: 1rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  border: none;
  background: none;
  margin-top: -15px;
}

.p-4 {
  padding: 1.5rem !important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.search-list {
  background: white;
  list-style: none;
  position: absolute;
  top: 38px;
  z-index: 1;
  width: 100%;
}

.listWordWrap{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.resetButton {
  padding: 5px 10px;
  font-size: 18px;
  background: #098ca3;
  border: none;
  color: #fff;
  border-radius: 3px;
  margin-left: 20px;
}

.search-list li {
  border-bottom: 1px solid #eee;
  padding: 6px;
}

.react-player{
  width: 100%!important;
  height: 360px!important;
}

@media (min-width: 992px) {
  .column {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .column {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (max-width: 766px) {
  .column {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (max-width: 700px) {
  .column {
    max-width: 33.33333333%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    max-width: 50%;
  }

  .react-player {
    width: 100%!important;
    height: 195px!important;
}
}


@media screen and (max-width: 380px) {
  .column {
    max-width: 100%;
  }
}
